*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d8d6d6;
}
.header{
    background-color: #ffffff;
    padding: 20px;
}
h3 {
    color: #000000;
    margin-left: 15px;
    font-size: 21px;
}
i{
    color: red;
}
.h1signup{
size: 10px;
}
h1{
    padding: 12px;
}
.login{
    float: right;
    margin-top: -20px;
    margin-right: 50px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 20px;
}
#login_btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 16px;
}
.h1signup{

    background-color: #fff;
}

.signup-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 390px;
    padding: 30px 10px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.form input {
    width: 70%;
    padding: 10px 0;
    font-size: 13px;
    color: #000000;
    margin-bottom: 30px;
    border: 0.5px solid darkgray;
    border-radius: 6px;
    border-bottom: 1px solid #5e5e5e;
    outline: none;
    background: transparent;

}

h2 {
    color: rgb(0, 0, 0);
    margin-top: -2em;
    padding: 45px;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #7749F8;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.btn {
    border-radius: 5px;
    background-color: #525252;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 15px;
    letter-spacing: 2px
}

.btn:hover {
    background: #7749F8;
    color: #fff;
    border-radius: 5px;
}

.btn span {
    position: absolute;
    display: block;
}
#password{
    color: black;
}


@media screen and (max-width: 500px) {
    .message {
        display: block;
        float: none;
    }

    .form {
        width: 100%;
        margin-left: 0;
    }

    .btn {
        width: 100%;
        margin-left: 0;
    }
}